@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Itim&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Fira Sans";
    margin: 0;
    padding: 0;
}
body{
    background-color: #f2f2f2;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #594662;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h-navbar-box{
   
}
.h-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h-navbar a{
    margin: 0 20px;
    color: #f2f2f2;
    height: 20px;
    transition: 0.1s ease;
}
.h-navbar a:hover{
    color: #d3d3d3;
    height: 22px;
    border-bottom: #d3d3d3 solid 1px;
}
.h-navbar a:active{
    color: #c3c3c3;
    border-bottom: #c3c3c3 solid 1px;
}

.wrapper{
}
/* #00A98F - зеленый*/
/* #594662 - фиолефтовый */
/* f2f2f2 - цвет body (тусклый белый) */
.h-logo{
    position: relative;
    left: -100px;
}

.h-logo-link img{
    height: 40px;
    width: 40px;
}